<flow-definition plugin="workflow-job@1346.v180a_63f40267">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2144.v077a_d1928a_40" />
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2144.v077a_d1928a_40">
      <jobProperties />
      <triggers />
      <parameters />
      <options />
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Download MacOS artifacts for macos_aarch64 from Artifactory location, do some verification and, if succesful, publish to GitHub&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
      <abortPrevious>false</abortPrevious>
    </org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_VERSION</name>
          <description>The SapMachine Release Tag to upload MacOS artifacts for. Should start with "sapmachine-". E.g. "sapmachine-17.0.6".</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BINARY_SOURCE</name>
          <description>Artifactory location where SapMachine binaries should be taken from.</description>
          <defaultValue>https://common.repositories.cloud.sap/artifactory/naas-deploy-releases-notarization-maven/com/sap/sapmachine</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SYMBOL_SOURCE</name>
          <description>Artifactory location where symbol bundle should be taken from.</description>
          <defaultValue>https://common.repositories.cloud.sap/artifactory/build.releases/com/sap/sapmachine</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NOTARIZED_SUFFIX</name>
          <description>Suffix to be appended to artifacts that are notarized.</description>
          <defaultValue>-notarized</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PUBLISH_CASKS</name>
          <description>When set to true, update homebrew casks.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3787.v8f5dcd14a_fa_c">
    <script>pipeline {
    agent {
        label "macos_aarch64"
    }
    stages {
        stage("Checkout Infrastructure Repository") {
            steps {
                checkout changelog: false, poll: false, scm: [$class: 'GitSCM', branches: [[name: '*/master']], extensions: [[$class: 'RelativeTargetDirectory', relativeTargetDir: 'SapMachine-infrastructure']], userRemoteConfigs: [[credentialsId: 'SapMachine-github', url: 'https://github.com/SAP/SapMachine-infrastructure.git']]]
            }
        }
        stage("Download Artifactory") {
            environment {
                ARTIFACTORY_CREDS = credentials('openjdk-artifactory')
            }
            steps {
                sh "SapMachine-infrastructure/lib/download_macos.sh aarch64"
            }
        }
        stage("Verify") {
            steps {
                sh "python3 SapMachine-infrastructure/lib/verify_macos_artifacts.py --tag=${params.SAPMACHINE_VERSION} --platform=aarch64"
            }
        }
        stage("Publish GitHub") {
            steps {
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    sh "SapMachine-infrastructure/lib/publish_macos.sh aarch64"
                }
            }
        }
        stage("Publish Website Data") {
            steps {
                build job: 'generate-website-data', propagate: false, wait: false
            }
        }
    }
    post {
        success {
            cleanWs()
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <disabled>false</disabled>
</flow-definition>