<hudson.plugins.ec2.EC2Slave plugin="ec2@1.43">
  <name>EC2 (SapMachine Windows) - Windows Slave (EC2 Cloud) (i-0fe064c73d9ee43a8)</name>
  <remoteFS>C:\jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.plugins.ec2.EC2RetentionStrategy">
    <idleTerminationMinutes>10</idleTerminationMinutes>
  </retentionStrategy>
  <launcher class="hudson.plugins.ec2.win.EC2WindowsLauncher">
    <sleepBetweenAttempts>10000</sleepBetweenAttempts>
  </launcher>
  <label>windows_x86_64</label>
  <nodeProperties />
  <instanceId>i-0fe064c73d9ee43a8</instanceId>
  <initScript />
  <tmpDir>C:\TEMP\</tmpDir>
  <remoteAdmin>Administrator</remoteAdmin>
  <templateDescription>Windows Slave (EC2 Cloud)</templateDescription>
  <jvmopts />
  <stopOnTerminate>false</stopOnTerminate>
  <idleTerminationMinutes>10</idleTerminationMinutes>
  <useDedicatedTenancy>false</useDedicatedTenancy>
  <isConnected>false</isConnected>
  <tags class="linked-list">
    <hudson.plugins.ec2.EC2Tag>
      <name>jenkins_slave_type</name>
      <value>demand_Windows Slave (EC2 Cloud)</value>
    </hudson.plugins.ec2.EC2Tag>
    <hudson.plugins.ec2.EC2Tag>
      <name>jenkins_server_url</name>
      <value>https://ci.sapmachine.io/</value>
    </hudson.plugins.ec2.EC2Tag>
  </tags>
  <cloudName>ec2-SapMachine Windows</cloudName>
  <amiType class="hudson.plugins.ec2.WindowsData">
    <password>REMOVED_BY_BACKUP</password>
    <useHTTPS>false</useHTTPS>
    <bootDelay>120</bootDelay>
  </amiType>
  <maxTotalUses>-1</maxTotalUses>
  <instanceType>m5.4xlarge</instanceType>
  <launchTimeout>2147483647</launchTimeout>
</hudson.plugins.ec2.EC2Slave>