<ns0:web-app xmlns:ns0="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadata-complete="true" version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <ns0:display-name>Jenkins v2.235</ns0:display-name>
  <ns0:description>Build management system</ns0:description>

  <ns0:servlet>
    <ns0:servlet-name>Stapler</ns0:servlet-name>
    <ns0:servlet-class>org.kohsuke.stapler.Stapler</ns0:servlet-class>
    <ns0:init-param>
      <ns0:param-name>default-encodings</ns0:param-name>
      <ns0:param-value>text/html=UTF-8</ns0:param-value>
    </ns0:init-param>
    <ns0:init-param>
      <ns0:param-name>diagnosticThreadName</ns0:param-name>
      <ns0:param-value>false</ns0:param-value>
    </ns0:init-param>
    <ns0:async-supported>true</ns0:async-supported>
  </ns0:servlet>

  <ns0:servlet-mapping>
    <ns0:servlet-name>Stapler</ns0:servlet-name>
    <ns0:url-pattern>/*</ns0:url-pattern>
  </ns0:servlet-mapping>

  <ns0:filter>
    <ns0:filter-name>suspicious-request-filter</ns0:filter-name>
    <ns0:filter-class>jenkins.security.SuspiciousRequestFilter</ns0:filter-class>
    <ns0:async-supported>true</ns0:async-supported>
  </ns0:filter>
  <ns0:filter>
    <ns0:filter-name>diagnostic-name-filter</ns0:filter-name>
    <ns0:filter-class>org.kohsuke.stapler.DiagnosticThreadNameFilter</ns0:filter-class>
    <ns0:async-supported>true</ns0:async-supported>
  </ns0:filter>
  <ns0:filter>
    <ns0:filter-name>encoding-filter</ns0:filter-name>
    <ns0:filter-class>hudson.util.CharacterEncodingFilter</ns0:filter-class>
    <ns0:async-supported>true</ns0:async-supported>
  </ns0:filter>
  <ns0:filter>
    <ns0:filter-name>compression-filter</ns0:filter-name>
    <ns0:filter-class>org.kohsuke.stapler.compression.CompressionFilter</ns0:filter-class>
    <ns0:async-supported>true</ns0:async-supported>
  </ns0:filter>
  <ns0:filter>
    <ns0:filter-name>authentication-filter</ns0:filter-name>
    <ns0:filter-class>hudson.security.HudsonFilter</ns0:filter-class>
    <ns0:async-supported>true</ns0:async-supported>
  </ns0:filter>
  <ns0:filter>
    <ns0:filter-name>csrf-filter</ns0:filter-name>
    <ns0:filter-class>hudson.security.csrf.CrumbFilter</ns0:filter-class>
    <ns0:async-supported>true</ns0:async-supported>
  </ns0:filter>
  <ns0:filter>
    <ns0:filter-name>plugins-filter</ns0:filter-name>
    <ns0:filter-class>hudson.util.PluginServletFilter</ns0:filter-class>
    <ns0:async-supported>true</ns0:async-supported>
  </ns0:filter>

  

  <ns0:filter-mapping>
    <ns0:filter-name>suspicious-request-filter</ns0:filter-name>
    <ns0:url-pattern>/*</ns0:url-pattern>
  </ns0:filter-mapping>
  <ns0:filter-mapping>
    <ns0:filter-name>diagnostic-name-filter</ns0:filter-name>
    <ns0:url-pattern>/*</ns0:url-pattern>
  </ns0:filter-mapping>
  <ns0:filter-mapping>
    <ns0:filter-name>encoding-filter</ns0:filter-name>
    <ns0:url-pattern>/*</ns0:url-pattern>
  </ns0:filter-mapping>
  <ns0:filter-mapping>
    <ns0:filter-name>compression-filter</ns0:filter-name>
    <ns0:url-pattern>/*</ns0:url-pattern>
  </ns0:filter-mapping>
  <ns0:filter-mapping>
    <ns0:filter-name>authentication-filter</ns0:filter-name>
    <ns0:url-pattern>/*</ns0:url-pattern>
  </ns0:filter-mapping>
  <ns0:filter-mapping>
    <ns0:filter-name>csrf-filter</ns0:filter-name>
    <ns0:url-pattern>/*</ns0:url-pattern>
  </ns0:filter-mapping>
  <ns0:filter-mapping>
    <ns0:filter-name>plugins-filter</ns0:filter-name>
    <ns0:url-pattern>/*</ns0:url-pattern>
  </ns0:filter-mapping>

  <ns0:listener>
    
    <ns0:listener-class>jenkins.util.SystemProperties$Listener</ns0:listener-class>
  </ns0:listener>
  <ns0:listener>
    <ns0:listener-class>hudson.WebAppMain</ns0:listener-class>
  </ns0:listener>
  <ns0:listener>
    <ns0:listener-class>jenkins.JenkinsHttpSessionListener</ns0:listener-class>
  </ns0:listener>

  
  <ns0:security-role>
    <ns0:role-name>admin</ns0:role-name>
  </ns0:security-role>
  <ns0:security-role>
    <ns0:role-name>user</ns0:role-name>
  </ns0:security-role>
  <ns0:security-role>
    <ns0:role-name>hudson</ns0:role-name>
  </ns0:security-role>

  <ns0:security-constraint>
    <ns0:web-resource-collection>
      <ns0:web-resource-name>Hudson</ns0:web-resource-name>
      <ns0:url-pattern>/loginEntry</ns0:url-pattern>
      
    </ns0:web-resource-collection>
    <ns0:auth-constraint>
      <ns0:role-name>**</ns0:role-name>
    </ns0:auth-constraint>
  </ns0:security-constraint>
  
  
  <ns0:security-constraint>
    <ns0:web-resource-collection>
      <ns0:web-resource-name>Disable TRACE</ns0:web-resource-name>
      <ns0:url-pattern>/*</ns0:url-pattern>
      <ns0:http-method>TRACE</ns0:http-method>
    </ns0:web-resource-collection>
    <ns0:auth-constraint />
  </ns0:security-constraint>
  
  <ns0:security-constraint>
    <ns0:web-resource-collection>
      <ns0:web-resource-name>other</ns0:web-resource-name>
      <ns0:url-pattern>/*</ns0:url-pattern>
    </ns0:web-resource-collection>
     
  </ns0:security-constraint>

  <ns0:login-config>
    <ns0:auth-method>FORM</ns0:auth-method>
    <ns0:form-login-config>
      <ns0:form-login-page>/login</ns0:form-login-page>
      <ns0:form-error-page>/loginError</ns0:form-error-page>
    </ns0:form-login-config>
  </ns0:login-config>


  
  <ns0:env-entry>
    <ns0:env-entry-name>HUDSON_HOME</ns0:env-entry-name>
    <ns0:env-entry-type>java.lang.String</ns0:env-entry-type>
    <ns0:env-entry-value />
  </ns0:env-entry>

  
  <ns0:mime-mapping>
    <ns0:extension>xml</ns0:extension>
    <ns0:mime-type>application/xml</ns0:mime-type>
  </ns0:mime-mapping>
  
  <ns0:mime-mapping>
    <ns0:extension>log</ns0:extension>
    <ns0:mime-type>text/plain</ns0:mime-type>
  </ns0:mime-mapping>
  <ns0:mime-mapping>
    <ns0:extension>war</ns0:extension>
    <ns0:mime-type>application/octet-stream</ns0:mime-type>
  </ns0:mime-mapping>
  <ns0:mime-mapping>
    <ns0:extension>ear</ns0:extension>
    <ns0:mime-type>application/octet-stream</ns0:mime-type>
  </ns0:mime-mapping>
  <ns0:mime-mapping>
    <ns0:extension>rar</ns0:extension>
    <ns0:mime-type>application/octet-stream</ns0:mime-type>
  </ns0:mime-mapping>
  <ns0:mime-mapping>
    <ns0:extension>webm</ns0:extension>
    <ns0:mime-type>video/webm</ns0:mime-type>
  </ns0:mime-mapping>

  <ns0:error-page>
    <ns0:exception-type>java.lang.Throwable</ns0:exception-type>
    <ns0:location>/oops</ns0:location>
  </ns0:error-page>

  <ns0:session-config>
    <ns0:cookie-config>
      
      <ns0:http-only>true</ns0:http-only>
    </ns0:cookie-config>
    
  </ns0:session-config>
</ns0:web-app>