<slave>
  <temporaryOfflineCause class="hudson.slaves.OfflineCause$UserCause">
    <timestamp>1637916597181</timestamp>
    <description>
      <holder>
        <owner>hudson.slaves.Messages</owner>
      </holder>
      <key>SlaveComputer.DisconnectedBy</key>
      <args>
        <string>arno</string>
        <string> : Node shows several issues in automated tests.</string>
      </args>
    </description>
    <userId>arno</userId>
  </temporaryOfflineCause>
  <name>agent-linux-ppc64le-2</name>
  <description />
  <remoteFS>/home/jenkins/client-home</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always" />
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
    <webSocket>false</webSocket>
  </launcher>
  <label>linux_ppc64le</label>
  <nodeProperties />
</slave>