<flow-definition plugin="workflow-job@1268.v6eb_e2ee1a_85a">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2118.v31fd5b_9944b_5" />
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2118.v31fd5b_9944b_5">
      <jobProperties />
      <triggers />
      <parameters />
      <options />
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description />
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.8" />
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.8">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs />
    </hudson.plugins.buildblocker.BuildBlockerProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3606.v0b_d8b_e512dcf">
    <script>pipeline {
    agent any
    tools {
        jfrog 'jfrog-cli'
    }
    stages {
        stage ('Testing') {
            steps {
                script {
                    // def text = "sapmachine-17.0.1+23"
                    def text = "sapmachine-17.0.1"
                    // def text = "sapmachine-11"
                    // def text = "dieter"
                    def m = (text =~ /sapmachine-((\d+(\.\d+)*)(\+(\d+))?)$/)
                    if (m) {
                        //println "MATCH 0:" + m.group(0)
                        //println "MATCH 1:" + m.group(1)
                        //println "MATCH 2:" + m.group(2)
                        //println "MATCH 3:" + m.group(3)
                        echo("Found SapMachine version " + m.group(1))
                    } else {
                        error(text + " is no valid SapMachine version tag.")
                    }
                    return
                }

                // Show the installed version of JFrog CLI.
                jf '-v'

                // Show the configuration
                jf 'c s'

                // Ping Artifactory.
                jf 'rt ping'

                // Search for the artifact
                script {
                    try {
                        def result = jf 'rt s --fail-no-op=true sapmachine-mvn/io/sapmachine/build-results/21/ea/21+7/macos_aarch64/bier.tar.gz'
                    } catch(err) {
                        echo "Caught: ${err}"
                    }
                }

                // Create a file and upload it to a repository named 'sapmachine-mvn' in Artifactory
                sh 'touch bier.tar.gz'
                jf 'rt u bier.tar.gz sapmachine-mvn/io/sapmachine/build-results/21/ea/21+7/macos_aarch64/bier.tar.gz'
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers />
  <disabled>false</disabled>
</flow-definition>