<flow-definition plugin="workflow-job">
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>pipeline {
    agent {
        label "macos_aarch64"
    }
    environment {
        ARTIFACTORY_CREDS = credentials('openjdk-artifactory')
    }
    tools {
        jfrog 'jfrog-cli'
    }
    stages {
        stage("Init") {
            steps {
                
                // trigger workspace cleanup
                cleanWs()

                // check/configure some job parameters
                script {
                    if (params.SAPMACHINE_VERSION.isEmpty()) {
                        env.SAPMACHINE_VERSION = params.GIT_REF
                    } else {
                        env.SAPMACHINE_VERSION = params.SAPMACHINE_VERSION
                    }

                    // this variable, indicating that we run a release build, is needed in some scripts
                    env.RELEASE_BUILD = "true"

                    // check for conforming SAPMACHINE_VERSION tag and set RELEASE flag accordingly
                    def m = (env.SAPMACHINE_VERSION =~ /sapmachine-((\d+(\.\d+)*)(\+(\d+))?)$/)
                    if (m) {
                        if (m.group(4) == null) {
                            env.RELEASE = "true"
                        } else {
                            env.RELEASE = "false"
                        }
                    } else {
                        error(env.SAPMACHINE_VERSION + " is no valid SapMachine version tag.")
                    }

                    // when we publish, installer packages are mandatory
                    if (params.PUBLISH == true) {
                        env.BUILD_INSTALLER_PACKAGES = true
                    } else {
                        env.BUILD_INSTALLER_PACKAGES = params.BUILD_INSTALLER_PACKAGES
                    }
                }
            }
        }
        stage("Checkout Infrastructure Repository") {
            steps {
                sh '''#!/bin/bash
                    set -e

                    if [[ `uname` == CYGWIN* ]]; then
                      GIT_TOOL="/cygdrive/c/Program Files/Git/cmd/git.exe"
                    else
                      GIT_TOOL=git
                    fi

                    "$GIT_TOOL" --version
                    "$GIT_TOOL" config --global init.defaultBranch master
                    (set -ex &amp;&amp; "$GIT_TOOL" init SapMachine-infrastructure)
                    cd SapMachine-infrastructure
                    (set -ex &amp;&amp; GIT_TERMINAL_PROMPT=0 "$GIT_TOOL" fetch --depth 1 https://github.com/SAP/SapMachine-infrastructure master)
                    (set -ex &amp;&amp; "$GIT_TOOL" checkout --detach FETCH_HEAD)
                '''
            }
        }
        
        
            
            
        stage("Checkout SapMachine Repository") {
            
            steps {
                sh("SapMachine-infrastructure/lib/git_clone.sh $SAPMACHINE_GIT_REPOSITORY SapMachine $GIT_REF ")
            }
        }
        stage("Prepare Devkit") {
            
            when {
                beforeAgent true
                expression {  !params.DEVKIT.isEmpty() }
            }
            steps {
                script {
                    String[] gav = params.DEVKIT.split(":");
                    if (gav.length == 3) {
                        echo "Extracting devkit from GAV coordinates: \"${params.DEVKIT}\"."
                        sh("SapMachine-infrastructure/lib/deploy-devkit.sh ${gav[0]} ${gav[1]} ${gav[2]}")
                        env.DEVKIT_PATH = sh(script: "cat devkitlocation.txt", returnStdout: true).trim()
                    } else {
                        echo "Devkit not in GAV notation, assuming path."
                        env.DEVKIT_PATH = params.DEVKIT;
                    }
                    echo "Devkit Path: ${env.DEVKIT_PATH}"
                }
            }
        }
        stage("Download Prerequisites") {
            
            
            steps {
                // Download Boot JDK, Credentials are needed to avoid rate limit exceedance
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    sh 'python3 SapMachine-infrastructure/lib/download_boot_jdk.py -d `pwd`'
                }

                // Download googletest
                sh("SapMachine-infrastructure/lib/git_clone.sh https://github.com/google/googletest gtest release-1.8.1")

                // Download jtreg if required
                script {
                    if (params.RUN_TESTS) {
                        sh 'python3 SapMachine-infrastructure/lib/download_jtreg.py'
                    }
                }
            }
        }
        stage("Build") {
            
            
            environment {
                BOOT_JDK = "${WORKSPACE}/boot_jdk"
            }
            steps {
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    script {
                        sh("SapMachine-infrastructure/lib/build.sh")
                        env.ART_VERSION = readFile "${env.WORKSPACE}/javavmversion.txt"
                    }
                }
            }
        }
        stage("Run jtreg hotspot") {
            
            when {
                beforeAgent true
                expression {  params.RUN_TESTS == true &amp;&amp; params.hotspot_test_groups }
            }
            environment {
                TESTSUITE = 'hotspot'
            }
            steps {
                sh 'bash SapMachine-infrastructure/lib/run_jtreg.sh -l `pwd`/SapMachine -h `pwd`/jtreg/jtreg -s $TESTSUITE "$hotspot_test_groups" || true'
                publishHTML target: [
                    allowMissing: false,
                    alwaysLinkToLastBuild: false,
                    keepAll: true,
                    reportDir: "test_report_${env.TESTSUITE}",
                    reportFiles: 'JTreport/index.html',
                    reportName: "JT Report ${env.TESTSUITE}"
                ]
                // persist data for test trend graph
                junit "test_report_${env.TESTSUITE}/JTwork/**/*.jtr.xml"
                script {
                    if (findFiles([glob: 'test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log']).size() &gt; 0) {
                        archiveArtifacts allowEmptyArchive: true, artifacts: "test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log"
                    }
                }
            }
        }
        stage("Run jtreg jdk") {
            
            when {
                beforeAgent true
                expression {  params.RUN_TESTS == true &amp;&amp; params.jdk_test_groups }
            }
            environment {
                TESTSUITE = 'jdk'
            }
            steps {
                sh 'bash SapMachine-infrastructure/lib/run_jtreg.sh -l `pwd`/SapMachine -h `pwd`/jtreg/jtreg -s $TESTSUITE "$jdk_test_groups" || true'

                publishHTML target: [
                    allowMissing: false,
                    alwaysLinkToLastBuild: false,
                    keepAll: true,
                    reportDir: "test_report_${env.TESTSUITE}",
                    reportFiles: 'JTreport/index.html',
                    reportName: "JT Report ${env.TESTSUITE}"
                ]
                // persist data for test trend graph
                junit "test_report_${env.TESTSUITE}/JTwork/**/*.jtr.xml"
                script {
                    if (findFiles([glob: 'test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log']).size() &gt; 0) {
                        archiveArtifacts allowEmptyArchive: true, artifacts: "test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log"
                    }
                }
            }
        }
        stage("Run jtreg langtools") {
            
            when {
                beforeAgent true
                expression {  params.RUN_TESTS == true &amp;&amp; params.langtools_test_groups }
            }
            environment {
                TESTSUITE = 'langtools'
            }
            steps {
                sh 'bash SapMachine-infrastructure/lib/run_jtreg.sh -l `pwd`/SapMachine -h `pwd`/jtreg/jtreg -s $TESTSUITE "$langtools_test_groups" || true'

                publishHTML target: [
                    allowMissing: false,
                    alwaysLinkToLastBuild: false,
                    keepAll: true,
                    reportDir: "test_report_${env.TESTSUITE}",
                    reportFiles: 'JTreport/index.html',
                    reportName: "JT Report ${env.TESTSUITE}"
                ]
                // persist data for test trend graph
                junit "test_report_${env.TESTSUITE}/JTwork/**/*.jtr.xml"
                script {
                    if (findFiles([glob: 'test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log']).size() &gt; 0) {
                        archiveArtifacts allowEmptyArchive: true, artifacts: "test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log"
                    }
                }
            }
        }
        
        
            
            
        
        stage("Publish Artifactory") {
            when {
                expression { params.UPLOAD_ARTIFACTORY == true || params.PUBLISH == true }
            }
            steps {
                // Upload the test archive
                sh 'curl -sSf -u $ARTIFACTORY_CREDS -X PUT -T test.zip https://common.repositories.cloud.sap/artifactory/sapmachine-mvn/io/sapmachine/build-results/macos_aarch64/${ART_VERSION}/test.zip'
                
            }
        }
        stage("Publish GitHub") {
            when {
                expression { params.PUBLISH == true &amp;&amp; !(JOB_NAME ==~ /((\S*)(-macos)(\S*)(-release))/ &amp;&amp; env.RELEASE == "true") }
            }
            steps {
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    sh 'SapMachine-infrastructure/lib/publish.sh'
                }
            }
        }
        
        stage("Create Brew Casks") {
            when {
                expression { params.PUBLISH == true &amp;&amp; JOB_NAME ==~ /((\S*)(-macos)(\S*)(-release))/ &amp;&amp; env.RELEASE != "true" }
            }
            steps {
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    lock('MacBrewCaskGenerationSynchronizer') {
                        sh 'python3 SapMachine-infrastructure/lib/packagebuild/make_cask.py -t $SAPMACHINE_VERSION'
                    }
                }
            }
        }
        
        stage("Publish Release Data") {
            when {
                expression { params.PUBLISH == true }
            }
            steps {
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    lock('ReleaseDataGenerationLock') {
                        sh 'python3 SapMachine-infrastructure/lib/generate_release_data.py --no-status -o git -t $SAPMACHINE_VERSION'
                    }
                }
            }
        }
        
            
            
        
    }
    post {
        success {
            script {
                // create a gensrc archive
                if (params.CREATE_GENSRC_BUNDLE == true) {
                    sh 'cd SapMachine/build &amp;&amp; cd $(ls) &amp;&amp; zip -rq ${WORKSPACE}/support_gensrc.zip support/gensrc'
                    archiveArtifacts artifacts: 'support_gensrc.zip'
                }

                // archive workspace on request
                if (params.ARCHIVE_WORKSPACE == true) {
                    sh 'zip -rq workspace.zip .'
                    archiveArtifacts allowEmptyArchive: true, artifacts: 'workspace.zip'
                }
            }
            cleanWs()
        }
        
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <actions />
  <description>Release build for SapMachine 11 on macos_aarch64.&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty />
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github">
      <projectUrl>https://github.com/SAP/SapMachine</projectUrl>
      <displayName />
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_GIT_REPOSITORY</name>
          <description>The Git repository to use.</description>
          <defaultValue>https://github.com/SAP/SapMachine</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_REF</name>
          <description>The Git tag, branch or commit to build.</description>
          <defaultValue>sapmachine11</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_VERSION</name>
          <description>Either a SapMachine Release Tag or a JDK Major version. If empty, GIT_REF is used.</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JDK_BUILD</name>
          <description>Sets the version build number explicitly.</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_ARCHIVE_NAME_PREFIX</name>
          <description>The prefix of the bundle archive.</description>
          <defaultValue>sapmachine11-macos_aarch64</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEVKIT</name>
          <description>Devkit, could be either a path that locally exists or the GAV coordinates to a tar.gz archive to be downloaded and extracted.</description>
          <defaultValue>io.sapmachine.build.devkit.macos:devkit-xcode:13.1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EXTRA_CONFIGURE_OPTIONS</name>
          <description>Extra configure options passed directly to configure script.</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>hotspot_test_groups</name>
          <description>Select the test group for jtreg hotspot tests. Empty means disabled.</description>
          <defaultValue>:tier1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>jdk_test_groups</name>
          <description>Select the test group for jtreg jdk tests. Empty means disabled.</description>
          <defaultValue>:tier1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>langtools_test_groups</name>
          <description>Select the test group for jtreg langtools tests. Empty means disabled.</description>
          <defaultValue>jdk tools lib</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_TESTS</name>
          <description>Enable/disable jtreg runs.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_INSTALLER_PACKAGES</name>
          <description>Build platform installer packages, e.g. Windows MSI, Debian packages.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CREATE_GENSRC_BUNDLE</name>
          <description>Create a bundle with generated source files (gensrc), to be used in e.g. IDE setups.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>UPLOAD_ARTIFACTORY</name>
          <description>Upload build results to Artifactory which will trigger testing.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PUBLISH</name>
          <description>When set to true, the resulting bundles will be published to GitHub. This implies uploading to Artifactory.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ARCHIVE_WORKSPACE</name>
          <description>Archive workspace for inspection after build.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
</flow-definition>