<flow-definition plugin="workflow-job">
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>pipeline {
    agent {
        label "repository"
    }
    stages {
        stage("Init") {
            steps {
                cleanWs()
            }
        }
        stage("Checkout Infrastructure Repository") {
            steps {
                sh '''#!/bin/bash
                    set -ex
                    git init SapMachine-Infrastructure &amp;&amp; cd SapMachine-Infrastructure
                    git fetch --depth 1 https://github.com/SAP/SapMachine-infrastructure.git master
                    git checkout --detach FETCH_HEAD
                '''
            }
        }
        stage("Checkout SapMachine JMC Repository") {
            steps {
                sh "git clone https://github.com/SAP/jmc.git jmc"
            }
        }
        stage('Update SapMachine JMC Repository') {
            when {
                expression { params.UPDATE_REPOSITORY == true }
            }
            steps {
                withCredentials([usernamePassword(credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD')]) {
                    sh "SapMachine-Infrastructure/lib/jmc/update_repo.sh"
                }
            }
        }
        stage("Merge from Upstream") {
            when {
                expression { params.MERGE_UPSTREAM == true }
            }
            steps {
                withCredentials([usernamePassword(credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD')]) {
                    sh "cd jmc &amp;&amp; python3 ../SapMachine-Infrastructure/lib/jmc/merge_from_upstream.py"
                }
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <actions />
  <description>Update JMC repository from OpenJDK upstream and create merge PRs.&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty />
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>60</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>UPDATE_REPOSITORY</name>
          <description>Update JMC repository from OpenJDK.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>MERGE_UPSTREAM</name>
          <description>Create merge PRs.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.TimerTrigger>
          <spec>H 23 * * 3</spec>
        </hudson.triggers.TimerTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
</flow-definition>