<flow-definition plugin="workflow-job">
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>pipeline {
    agent {
        label "macos_aarch64"
    }
    environment {
        ARTIFACTORY_CREDS = credentials('openjdk-artifactory')
    }
    tools {
        jfrog 'jfrog-cli'
    }
    stages {
        stage("Init") {
            steps {
                
                // trigger workspace cleanup
                cleanWs()

                // check/configure some job parameters
                script {
                    if (params.SAPMACHINE_VERSION.isEmpty()) {
                        env.SAPMACHINE_VERSION = params.GIT_REF
                    } else {
                        env.SAPMACHINE_VERSION = params.SAPMACHINE_VERSION
                    }

                    // when we publish, installer packages are mandatory
                    if (params.PUBLISH == true) {
                        env.BUILD_INSTALLER_PACKAGES = true
                    } else {
                        env.BUILD_INSTALLER_PACKAGES = params.BUILD_INSTALLER_PACKAGES
                    }

                    // calculate artifactory version number
                    // release jobs need to have a conforming SAPMACHINE_VERSION tag
                    if (JOB_NAME ==~ /((\S*)(release)(\S*))/) {
                        def m = (env.SAPMACHINE_VERSION =~ /sapmachine-((\d+(\.\d+)*)(\+(\d+))?)$/)
                        if (m) {
                            env.ART_VERSION = m.group(1)
                        } else {
                            error(env.SAPMACHINE_VERSION + " is no valid SapMachine version tag.")
                        }
                    } else {
                        env.ART_VERSION = "snapshot-19-" + (new java.text.SimpleDateFormat("yyyyMMddHHmmss")).format(new Date())
                    }
                    println "env.ART_VERSION: " + env.ART_VERSION
                }
            }
        }
        stage("Checkout Infrastructure Repository") {
            steps {
                sh '''#!/bin/bash
                    set -ex
                    git init SapMachine-Infrastructure &amp;&amp; cd SapMachine-Infrastructure
                    git fetch --depth 1 https://github.com/SAP/SapMachine-infrastructure.git master
                    git checkout --detach FETCH_HEAD
                '''
            }
        }
        
            
            
        stage("Checkout SapMachine Repository") {
            
            steps {
                sh '''#!/bin/bash
                    set -ex
                    git init SapMachine &amp;&amp; cd SapMachine
                    git remote add origin $SAPMACHINE_GIT_REPOSITORY
                    git fetch origin $GIT_REF
                    git checkout --detach FETCH_HEAD
                '''
            }
        }
        stage('Prepare Devkit') {
            
            when {
                beforeAgent true
                expression {  !params.DEVKIT.isEmpty() }
            }
            steps {
                script {
                    String[] gav = params.DEVKIT.split(":");
                    if (gav.length == 3) {
                        echo "Extracting devkit from GAV coordinates: \"${params.DEVKIT}\"."
                        sh("SapMachine-Infrastructure/lib/deploy-devkit.sh ${gav[0]} ${gav[1]} ${gav[2]}")
                        env.DEVKIT_PATH = sh (
                            script: "cat devkitlocation.txt",
                            returnStdout: true
                        ).trim()
                    } else {
                        echo "Devkit not in GAV notation, assuming path."
                        env.DEVKIT_PATH = params.DEVKIT;
                    }
                    echo "Devkit Path: ${env.DEVKIT_PATH}"
                }
            }
        }
        stage('Download Prerequisites') {
            
            
            steps {
                // Download Boot JDK, Credentials are needed to avoid rate limit exceedance
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    sh "python3 SapMachine-Infrastructure/lib/download_boot_jdk.py -d `pwd`"
                }

                // Download googletest
                sh '''#!/bin/bash
                    set -ex
                    git init gtest &amp;&amp; cd gtest
                    git fetch --depth 1 https://github.com/google/googletest.git refs/tags/release-1.8.1
                    git checkout --detach FETCH_HEAD
                '''

                // Download jtreg if required
                script {
                    if (params.RUN_TESTS) {
                        sh "python3 SapMachine-Infrastructure/lib/download_jtreg.py"
                    }
                }
            }
        }
        stage("Build") {
            
            
            environment {
                BOOT_JDK = "${WORKSPACE}/boot_jdk"
            }
            steps {
                sh 'SapMachine-Infrastructure/lib/build.sh'
            }
        }
        stage('Run jtreg hotspot') {
            
            when {
                beforeAgent true
                expression {  params.RUN_TESTS == true &amp;&amp; params.hotspot_test_groups }
            }
            environment {
                TESTSUITE = 'hotspot'
            }
            steps {
                sh "bash SapMachine-Infrastructure/lib/run_jtreg.sh -l `pwd`/SapMachine -h `pwd`/jtreg/jtreg -s ${env.TESTSUITE} ${params.hotspot_test_groups} || true"
                publishHTML target: [
                    allowMissing: false,
                    alwaysLinkToLastBuild: false,
                    keepAll: true,
                    reportDir: "test_report_${env.TESTSUITE}",
                    reportFiles: 'JTreport/index.html',
                    reportName: "JT Report ${env.TESTSUITE}"
                ]
                script {
                    if (findFiles([glob: 'test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log']).size() &gt; 0) {
                        archiveArtifacts allowEmptyArchive: true, artifacts: "test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log"
                    }
                }
            }
        }
        stage('Run jtreg jdk') {
            
            when {
                beforeAgent true
                expression {  params.RUN_TESTS == true &amp;&amp; params.jdk_test_groups }
            }
            environment {
                TESTSUITE = 'jdk'
            }
            steps {
                sh "bash SapMachine-Infrastructure/lib/run_jtreg.sh -l `pwd`/SapMachine -h `pwd`/jtreg/jtreg -s ${env.TESTSUITE} ${params.jdk_test_groups} || true"

                publishHTML target: [
                    allowMissing: false,
                    alwaysLinkToLastBuild: false,
                    keepAll: true,
                    reportDir: "test_report_${env.TESTSUITE}",
                    reportFiles: 'JTreport/index.html',
                    reportName: "JT Report ${env.TESTSUITE}"
                ]
                script {
                    if (findFiles([glob: 'test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log']).size() &gt; 0) {
                        archiveArtifacts allowEmptyArchive: true, artifacts: "test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log"
                    }
                }
            }
        }
        stage('Run jtreg langtools') {
            
            when {
                beforeAgent true
                expression {  params.RUN_TESTS == true &amp;&amp; params.langtools_test_groups }
            }
            environment {
                TESTSUITE = 'langtools'
            }
            steps {
                sh "bash SapMachine-Infrastructure/lib/run_jtreg.sh -l `pwd`/SapMachine -h `pwd`/jtreg/jtreg -s ${env.TESTSUITE} ${params.langtools_test_groups} || true"

                publishHTML target: [
                    allowMissing: false,
                    alwaysLinkToLastBuild: false,
                    keepAll: true,
                    reportDir: "test_report_${env.TESTSUITE}",
                    reportFiles: 'JTreport/index.html',
                    reportName: "JT Report ${env.TESTSUITE}"
                ]
                script {
                    if (findFiles([glob: 'test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log']).size() &gt; 0) {
                        archiveArtifacts allowEmptyArchive: true, artifacts: "test_report_${env.TESTSUITE}/JTwork/**/hs_err_pid*.log"
                    }
                }
            }
        }
        
        
            
            
        
        stage('Publish Artifactory') {
            steps {
                // Show the installed version of JFrog CLI.
                jf '-v'

                // Show the configuration
                jf 'c s'

                // Upload the JDK archive
                script {
                    def jdk_bundle_name = readFile "${env.WORKSPACE}/jdk_bundle_name.txt"
                    println "JDK Bundle name: \"" + jdk_bundle_name.trim() + "\""
                    def jfcall = "rt u " + jdk_bundle_name.trim() + " sapmachine-mvn/io/sapmachine/build-results/macos_aarch64/${env.ART_VERSION}/" + jdk_bundle_name.trim()
                    println "JF call: \"" + jfcall + "\""
                    jf jfcall
                }

                // Upload the test archive
                jf "rt u test.zip sapmachine-mvn/io/sapmachine/build-results/macos_aarch64/${env.ART_VERSION}/test.zip"
            }
        }
        stage('Archive') {
            
            steps {
                archiveArtifacts allowEmptyArchive: true, artifacts: 'test.zip'
                archiveArtifacts allowEmptyArchive: true, artifacts: 'support_gensrc.zip'

                script {
                    def jdk_bundle_name = readFile "${env.WORKSPACE}/jdk_bundle_name.txt"
                    step ([$class: 'ArtifactArchiver', artifacts: jdk_bundle_name]);
                }
            }
        }
        stage('Publish GitHub') {
            when {
                expression { params.PUBLISH == true &amp;&amp; !(JOB_NAME ==~ /((\S*)(release-macos)(\S*))/ &amp;&amp; params.RELEASE == true) }
            }
            steps {
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    sh "SapMachine-Infrastructure/lib/publish.sh"
                }
            }
        }
        
        
        stage('Create Brew Casks') {
            when {
                expression { params.PUBLISH == true &amp;&amp; JOB_NAME ==~ /((\S*)(release-macos)(\S*))/ &amp;&amp; params.RELEASE != true }
            }
            steps {
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    lock('MacBrewCaskGenerationSynchronizer') {
                        sh "python3 SapMachine-Infrastructure/lib/make_cask.py -t $SAPMACHINE_VERSION"
                    }
                }
            }
        }
        
        stage('Publish Website Data') {
            when {
                expression { params.PUBLISH == true }
            }
            steps {
                build job: 'generate-website-data', propagate: false, wait: false
            }
        }
        
    }
    post {
        success {
            cleanWs()
        }
        
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <actions />
  <description>Release build for SapMachine 19 on macos_aarch64.&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty />
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github">
      <projectUrl>https://github.com/SAP/SapMachine</projectUrl>
      <displayName />
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_GIT_REPOSITORY</name>
          <description>The Git repository to use.</description>
          <defaultValue>https://github.com/SAP/SapMachine.git</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_REF</name>
          <description>The Git tag, branch or commit to build.</description>
          <defaultValue>sapmachine19</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_VERSION</name>
          <description>Either a SapMachine Release Tag or a JDK Major version. If empty, GIT_REF is used.</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JDK_BUILD</name>
          <description>Sets the version build number explicitly.</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_ARCHIVE_NAME_PREFIX</name>
          <description>The prefix of the bundle archive.</description>
          <defaultValue>sapmachine19-macos_aarch64</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEVKIT</name>
          <description>Devkit, could be either a path that locally exists or the GAV coordinates to a tar.gz archive to be downloaded and extracted.</description>
          <defaultValue>io.sapmachine.build.devkit.macos:devkit-xcode:13.1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EXTRA_CONFIGURE_OPTIONS</name>
          <description>Extra configure options passed directly to configure script.</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>hotspot_test_groups</name>
          <description>Select the test group for jtreg hotspot tests. Empty means disabled.</description>
          <defaultValue>:tier1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>jdk_test_groups</name>
          <description>Select the test group for jtreg jdk tests. Empty means disabled.</description>
          <defaultValue>:tier1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>langtools_test_groups</name>
          <description>Select the test group for jtreg langtools tests. Empty means disabled.</description>
          <defaultValue>"jdk tools lib"</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_TESTS</name>
          <description>Enable/disable jtreg runs.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_INSTALLER_PACKAGES</name>
          <description>Build platform installer packages, e.g. Windows MSI, Debian packages.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RELEASE</name>
          <description>When set to true, marks this build as a release build, otherwise as pre-release.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PUBLISH</name>
          <description>When set to true, the resulting bundles will be published to GitHub.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
</flow-definition>