<flow-definition plugin="workflow-job">
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>pipeline {
    agent {
        label 'build_service'
    }
    stages {
        stage("Trigger Builds") {
            steps {
                script {
                    def platforms = [
                        
                        "linux_aarch64": params.BUILD_LINUX_AARCH64,
                        "linux_alpine_x86_64": params.BUILD_LINUX_ALPINE_X86_64,
                        "linux_ppc64le": params.BUILD_LINUX_PPC64LE,
                        "linux_x86_64": params.BUILD_LINUX_X86_64,
                        "windows_x86_64": params.BUILD_WINDOWS_X86_64
                    ]

                    // only trigger macos jobs for non-release builds
                    def tag = params.SAPMACHINE_VERSION.isEmpty() ? params.GIT_REF : params.SAPMACHINE_VERSION
                    def m = (tag =~ /sapmachine-((\d+(\.\d+)*)(\+(\d+))?)$/)
                    if (!m || m.group(4) != null) {
                        platforms.putAll([
                            "macos_aarch64": params.BUILD_MACOS_ARM_64,
                            "macos_x86_64": params.BUILD_MACOS_X86_64])
                    }


                    for (p in platforms) {
                        if (p.value) {
                            build job: 'build-17-' + p.key + '-release',
                                propagate: false,
                                wait: false,
                                parameters: [
                                    string(name: 'SAPMACHINE_GIT_REPOSITORY', value: params.SAPMACHINE_GIT_REPOSITORY),
                                    string(name: 'GIT_REF', value: params.GIT_REF),
                                    string(name: 'SAPMACHINE_VERSION', value: params.SAPMACHINE_VERSION),
                                    string(name: 'JDK_BUILD', value: params.JDK_BUILD),
                                    string(name: 'EXTRA_CONFIGURE_OPTIONS', value: params.EXTRA_CONFIGURE_OPTIONS),
                                    string(name: 'hotspot_test_groups', value: params.hotspot_test_groups),
                                    string(name: 'jdk_test_groups', value: params.jdk_test_groups),
                                    string(name: 'langtools_test_groups', value: params.langtools_test_groups),
                                    [$class: 'BooleanParameterValue', name: 'RUN_TESTS', value: params.RUN_TESTS],
                                    [$class: 'BooleanParameterValue', name: 'BUILD_INSTALLER_PACKAGES', value: params.BUILD_INSTALLER_PACKAGES],
                                    [$class: 'BooleanParameterValue', name: 'CREATE_GENSRC_BUNDLE', value: params.CREATE_GENSRC_BUNDLE],
                                    [$class: 'BooleanParameterValue', name: 'UPLOAD_ARTIFACTORY', value: params.UPLOAD_ARTIFACTORY],
                                    [$class: 'BooleanParameterValue', name: 'PUBLISH', value: params.PUBLISH],
                                    [$class: 'BooleanParameterValue', name: 'ARCHIVE_WORKSPACE', value: params.ARCHIVE_WORKSPACE]
                                ]
                        } else {
                            println "Skipping build for " + p.key + " (build=" + p.value + ")."
                        }
                    }
                }
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <actions />
  <description>Start release build for SapMachine 17 on all platorms.&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_GIT_REPOSITORY</name>
          <description>The Git repository to use.</description>
          <defaultValue>https://github.com/SAP/SapMachine</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_REF</name>
          <description>The Git tag, branch or commit to build.</description>
          <defaultValue>sapmachine17</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_VERSION</name>
          <description>Either a SapMachine Release Tag or a JDK Major version. If empty, GIT_REF is used.</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JDK_BUILD</name>
          <description>Sets the version build number explicitly.</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_LINUX_AARCH64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_LINUX_ALPINE_X86_64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_LINUX_PPC64LE</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_LINUX_X86_64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_MACOS_ARM_64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_MACOS_X86_64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_WINDOWS_X86_64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EXTRA_CONFIGURE_OPTIONS</name>
          <description>Extra configure options passed directly to configure script.</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>hotspot_test_groups</name>
          <description>Select the test group for jtreg hotspot tests. Empty means disabled.</description>
          <defaultValue>:tier1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>jdk_test_groups</name>
          <description>Select the test group for jtreg jdk tests. Empty means disabled.</description>
          <defaultValue>:tier1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>langtools_test_groups</name>
          <description>Select the test group for jtreg langtools tests. Empty means disabled.</description>
          <defaultValue>"jdk tools lib"</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_TESTS</name>
          <description>Enable/disable jtreg runs.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_INSTALLER_PACKAGES</name>
          <description>Build platform installer packages, e.g. Windows MSI, Debian packages.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CREATE_GENSRC_BUNDLE</name>
          <description>Create a bundle with generated source files (gensrc), to be used in e.g. IDE setups.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>UPLOAD_ARTIFACTORY</name>
          <description>Upload build results to Artifactory which will trigger testing.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PUBLISH</name>
          <description>When set to true, the resulting bundles will be published to GitHub. This implies uploading to Artifactory.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ARCHIVE_WORKSPACE</name>
          <description>Archive workspace for inspection after build.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
</flow-definition>