<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <temporaryOfflineCause class="hudson.node_monitors.DiskSpaceMonitorDescriptor$DiskSpace">
    <timestamp>1543864783467</timestamp>
    <path>C:\jenkins</path>
    <size>573857792</size>
    <triggered>true</triggered>
    <trigger>hudson.node_monitors.DiskSpaceMonitor</trigger>
  </temporaryOfflineCause>
  <name>agent-windows-x86_64-2</name>
  <description></description>
  <remoteFS>c:\jenkins</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
  </launcher>
  <label>windows_x86_64</label>
  <nodeProperties/>
</slave>