<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>GitHubHookRegisterProblemMonitor</string>
    <string>hudsonHomeIsFull</string>
    <string>hudson.node_monitors.MonitorMarkedNodeOffline</string>
  </disabledAdministrativeMonitors>
  <version>2.138.2</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>false</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.25">
      <owner class="hudson" reference="../../.."/>
      <name>Linux x86 64</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </jobNames>
          <jobFilters/>
          <name>Snapshot Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-snapshot</string>
            <string>test-jtreg-hotspot-snapshot</string>
            <string>test-jtreg-jdk-snapshot</string>
            <string>test-jtreg-langtools-snapshot</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot</name>
          <width>THIRD</width>
          <alignment>LEFT</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-snapshot</string>
            <string>test-jtreg-hotspot-11-snapshot</string>
            <string>test-jtreg-jdk-11-snapshot</string>
            <string>test-jtreg-langtools-11-snapshot</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Release Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-12-release</string>
            <string>test-jtreg-hotspot-12-release</string>
            <string>test-jtreg-jdk-12-release</string>
            <string>test-jtreg-langtools-12-release</string>
          </jobNames>
          <jobFilters/>
          <name>Release 12</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>apidocs-11-release</string>
            <string>build-11-release</string>
            <string>test-jtreg-hotspot-11-release</string>
            <string>test-jtreg-jdk-11-release</string>
            <string>test-jtreg-langtools-11-release</string>
          </jobNames>
          <jobFilters/>
          <name>Release 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Pull Request Validation</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-pr-validation</string>
            <string>test-jtreg-hotspot-pr-validation</string>
            <string>test-jtreg-jdk-pr-validation</string>
            <string>test-jtreg-langtools-pr-validation</string>
            <string>validate-pr-pipe</string>
          </jobNames>
          <jobFilters/>
          <name>Pull Request 12</name>
          <width>THIRD</width>
          <alignment>LEFT</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-pr-validation</string>
            <string>test-jtreg-hotspot-11-pr-validation</string>
            <string>test-jtreg-jdk-11-pr-validation</string>
            <string>test-jtreg-langtools-11-pr-validation</string>
            <string>validate-pr-pipe-11</string>
          </jobNames>
          <jobFilters/>
          <name>Pull Request 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Docker Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-12-docker</string>
            <string>rebuild-12-docker</string>
            <string>test-jtreg-hotspot-12-docker</string>
            <string>test-jtreg-jdk-12-docker</string>
            <string>test-jtreg-langtools-12-docker</string>
          </jobNames>
          <jobFilters/>
          <name>Docker 12</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-docker</string>
            <string>rebuild-11-docker</string>
            <string>test-jtreg-hotspot-11-docker</string>
            <string>test-jtreg-jdk-11-docker</string>
            <string>test-jtreg-langtools-11-docker</string>
          </jobNames>
          <jobFilters/>
          <name>Docker 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.25">
      <owner class="hudson" reference="../../.."/>
      <name>Linux ppc64le</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Snapshot Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-snapshot-linux_ppc64le</string>
            <string>test-jtreg-hotspot-snapshot-linux_ppc64le</string>
            <string>test-jtreg-jdk-snapshot-linux_ppc64le</string>
            <string>test-jtreg-langtools-snapshot-linux_ppc64le</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-snapshot-linux_ppc64le</string>
            <string>test-jtreg-hotspot-11-snapshot-linux_ppc64le</string>
            <string>test-jtreg-jdk-11-snapshot-linux_ppc64le</string>
            <string>test-jtreg-langtools-11-snapshot-linux_ppc64le</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Release Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-12-release-linux_ppc64le</string>
            <string>test-jtreg-hotspot-12-release-linux_ppc64le</string>
            <string>test-jtreg-jdk-12-release-linux_ppc64le</string>
            <string>test-jtreg-langtools-12-release-linux_ppc64le</string>
          </jobNames>
          <jobFilters/>
          <name>Release 12</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-release-linux_ppc64le</string>
            <string>test-jtreg-hotspot-11-release-linux_ppc64le</string>
            <string>test-jtreg-jdk-11-release-linux_ppc64le</string>
            <string>test-jtreg-langtools-11-release-linux_ppc64le</string>
          </jobNames>
          <jobFilters/>
          <name>Release 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Pull Request Validation</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-pr-validation-linux_ppc64le</string>
            <string>test-jtreg-hotspot-pr-validation-linux_ppc64le</string>
            <string>test-jtreg-jdk-pr-validation-linux_ppc64le</string>
            <string>test-jtreg-langtools-pr-validation-linux_ppc64le</string>
            <string>validate-pr-pipe-linux_ppc64le</string>
          </jobNames>
          <jobFilters/>
          <name>Pull Request 12</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-pr-validation-linux_ppc64le</string>
            <string>test-jtreg-hotspot-11-pr-validation-linux_ppc64le</string>
            <string>test-jtreg-jdk-11-pr-validation-linux_ppc64le</string>
            <string>test-jtreg-langtools-11-pr-validation-linux_ppc64le</string>
            <string>validate-pr-pipe-11-linux_ppc64le</string>
          </jobNames>
          <jobFilters/>
          <name>Pull Request 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.25">
      <owner class="hudson" reference="../../.."/>
      <name>Shared</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>apk-pipeline</string>
            <string>debian-pipeline</string>
          </jobNames>
          <jobFilters/>
          <name>Packages</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>generate-cf-data</string>
            <string>generate-website-data</string>
            <string>test-cf-java-buildpack</string>
          </jobNames>
          <jobFilters/>
          <name>Data Generators</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>jenkins-backup</string>
            <string>jenkins-restore</string>
          </jobNames>
          <jobFilters/>
          <name>Jenkins Backup</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>check-tag-pipeline</string>
            <string>update-pipeline</string>
          </jobNames>
          <jobFilters/>
          <name>Repository Update</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Misc</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>jtreg</string>
          </jobNames>
          <jobFilters/>
          <name>jtreg</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.25">
      <owner class="hudson" reference="../../.."/>
      <name>Windows x86 64</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Snapshot Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-snapshot-windows_x86_64</string>
            <string>test-jtreg-hotspot-snapshot-windows_x86_64</string>
            <string>test-jtreg-jdk-snapshot-windows_x86_64</string>
            <string>test-jtreg-langtools-snapshot-windows_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-snapshot-windows_x86_64</string>
            <string>test-jtreg-hotspot-11-snapshot-windows_x86_64</string>
            <string>test-jtreg-jdk-11-snapshot-windows_x86_64</string>
            <string>test-jtreg-langtools-11-snapshot-windows_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Release Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-12-release-windows_x86_64</string>
            <string>test-jtreg-hotspot-12-release-windows_x86_64</string>
            <string>test-jtreg-jdk-12-release-windows_x86_64</string>
            <string>test-jtreg-langtools-12-release-windows_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>Release 12</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-release-windows_x86_64</string>
            <string>test-jtreg-hotspot-11-release-windows_x86_64</string>
            <string>test-jtreg-jdk-11-release-windows_x86_64</string>
            <string>test-jtreg-langtools-11-release-windows_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>Release 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.25">
      <owner class="hudson" reference="../../.."/>
      <name>Linux ppc64</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Snapshot Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-snapshot-linux_ppc64</string>
            <string>test-jtreg-hotspot-snapshot-linux_ppc64</string>
            <string>test-jtreg-jdk-snapshot-linux_ppc64</string>
            <string>test-jtreg-langtools-snapshot-linux_ppc64</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-snapshot-linux_ppc64</string>
            <string>test-jtreg-hotspot-11-snapshot-linux_ppc64</string>
            <string>test-jtreg-jdk-11-snapshot-linux_ppc64</string>
            <string>test-jtreg-langtools-11-snapshot-linux_ppc64</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Release Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-12-release-linux_ppc64</string>
            <string>test-jtreg-hotspot-12-release-linux_ppc64</string>
            <string>test-jtreg-jdk-12-release-linux_ppc64</string>
            <string>test-jtreg-langtools-12-release-linux_ppc64</string>
          </jobNames>
          <jobFilters/>
          <name>Release 12</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-release-linux_ppc64</string>
            <string>test-jtreg-hotspot-11-release-linux_ppc64</string>
            <string>test-jtreg-jdk-11-release-linux_ppc64</string>
            <string>test-jtreg-langtools-11-release-linux_ppc64</string>
          </jobNames>
          <jobFilters/>
          <name>Release 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.25">
      <owner class="hudson" reference="../../.."/>
      <name>macOS x86 64</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Snapshot Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-snapshot-macos_x86_64</string>
            <string>test-jtreg-hotspot-snapshot-macos_x86_64</string>
            <string>test-jtreg-jdk-snapshot-macos_x86_64</string>
            <string>test-jtreg-langtools-snapshot-macos_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-snapshot-macos_x86_64</string>
            <string>test-jtreg-hotspot-11-snapshot-macos_x86_64</string>
            <string>test-jtreg-jdk-11-snapshot-macos_x86_64</string>
            <string>test-jtreg-langtools-11-snapshot-macos_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>Snapshot 11</name>
          <width>THIRD</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.TextSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Release Builds</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <text></text>
          <style>NONE</style>
        </hudson.plugins.sectioned__view.TextSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>build-11-release-macos_x86_64</string>
            <string>test-jtreg-hotspot-11-release-macos_x86_64</string>
            <string>test-jtreg-jdk-11-release-macos_x86_64</string>
            <string>test-jtreg-langtools-11-release-macos_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>Release 11</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.25">
      <owner class="hudson" reference="../../.."/>
      <name>Build My Branch</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>branch-build-service</string>
          </jobNames>
          <jobFilters/>
          <name>Trigger Branch Build</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>branch-build_linux_x86_64</string>
            <string>branch-test-jtreg-hotspot_linux_x86_64</string>
            <string>branch-test-jtreg-jdk_linux_x86_64</string>
            <string>branch-test-jtreg-langtools_linux_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>Linux x86 64</name>
          <width>HALF</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>branch-build_linux_ppc64le</string>
            <string>branch-test-jtreg-hotspot_linux_ppc64le</string>
            <string>branch-test-jtreg-jdk_linux_ppc64le</string>
            <string>branch-test-jtreg-langtools_linux_ppc64le</string>
          </jobNames>
          <jobFilters/>
          <name>Linux ppc64le</name>
          <width>HALF</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>branch-build_linux_ppc64</string>
            <string>branch-test-jtreg-hotspot_linux_ppc64</string>
            <string>branch-test-jtreg-jdk_linux_ppc64</string>
            <string>branch-test-jtreg-langtools_linux_ppc64</string>
          </jobNames>
          <jobFilters/>
          <name>Linux ppc64</name>
          <width>HALF</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>branch-build_windows_x86_64</string>
            <string>branch-test-jtreg-hotspot_windows_x86_64</string>
            <string>branch-test-jtreg-jdk_windows_x86_64</string>
            <string>branch-test-jtreg-langtools_windows_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>Windows x86 64</name>
          <width>HALF</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../hudson.plugins.sectioned__view.SectionedView/sections/hudson.plugins.sectioned__view.TextSection/jobNames/comparator"/>
            <string>branch-build_macos_x86_64</string>
            <string>branch-test-jtreg-hotspot_macos_x86_64</string>
            <string>branch-test-jtreg-jdk_macos_x86_64</string>
            <string>branch-test-jtreg-langtools_macos_x86_64</string>
          </jobNames>
          <jobFilters/>
          <name>macOS x86 64</name>
          <width>HALF</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
  </views>
  <primaryView>Linux x86 64</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>