<hudson>
  <disabledAdministrativeMonitors>
    <string>GitHubHookRegisterProblemMonitor</string>
    <string>hudsonHomeIsFull</string>
    <string>hudson.node_monitors.MonitorMarkedNodeOffline</string>
    <string>OldData</string>
  </disabledAdministrativeMonitors>
  <version>2.208</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>4</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>false</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy" />
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter" />
  <jdks />
  <viewsTabBar class="hudson.views.DefaultViewsTabBar" />
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar" />
  <clouds>
    <hudson.plugins.ec2.EC2Cloud plugin="ec2@1.46.1">
      <name>ec2-SapMachine Cloud</name>
      <useInstanceProfileForCredentials>false</useInstanceProfileForCredentials>
      <roleArn />
      <roleSessionName />
      <credentialsId>JekinsAWSKey</credentialsId>
      <privateKey>
        <privateKey>REMOVED_BY_BACKUP</privateKey>
      </privateKey>
      <instanceCap>6</instanceCap>
      <templates>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-020c0998cf9c3635c</ami>
          <description>Linux Slave</description>
          <zone>us-east-1d</zone>
          <securityGroups>JenkinsLinuxSlave</securityGroups>
          <remoteFS>/home/ubuntu/slave_home</remoteFS>
          <type>M54xlarge</type>
          <ebsOptimized>true</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>linux_x86_64</labels>
          <mode>EXCLUSIVE</mode>
          <initScript />
          <tmpDir />
          <userData />
          <numExecutors>1</numExecutors>
          <remoteAdmin>ubuntu</remoteAdmin>
          <jvmopts />
          <subnetId />
          <idleTerminationMinutes>10</idleTerminationMinutes>
          <iamInstanceProfile />
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping />
          <instanceCap>3</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix />
            <slaveCommandPrefix />
            <slaveCommandSuffix />
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-04c37b4c2a2403b0b</ami>
          <description>Windows Slave</description>
          <zone>us-east-1d</zone>
          <securityGroups>JenkinsWindowsSlave</securityGroups>
          <remoteFS>C:\jenkins</remoteFS>
          <type>M54xlarge</type>
          <ebsOptimized>true</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>windows_x86_64</labels>
          <mode>NORMAL</mode>
          <initScript />
          <tmpDir>C:\TEMP\</tmpDir>
          <userData />
          <numExecutors>1</numExecutors>
          <remoteAdmin>Administrator</remoteAdmin>
          <jvmopts />
          <subnetId />
          <idleTerminationMinutes>10</idleTerminationMinutes>
          <iamInstanceProfile />
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping />
          <instanceCap>3</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.WindowsData">
            <password>REMOVED_BY_BACKUP</password>
            <useHTTPS>false</useHTTPS>
            <bootDelay>200</bootDelay>
            <specifyPassword>true</specifyPassword>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
      </templates>
      <region>us-east-1</region>
      <noDelayProvisioning>true</noDelayProvisioning>
    </hudson.plugins.ec2.EC2Cloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.." />
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Linux ppc64 Builds</name>
      <description>Linux ppc64 Builds&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <includeRegex>build-.*-linux_ppc64$</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Linux ppc64le Builds</name>
      <description>Linux ppc64le Builds&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <includeRegex>build-.*-linux_ppc64le$</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Linux x86 64 Builds</name>
      <description>Linux x86 64 Builds&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <includeRegex>build-.*-linux_x86_64$</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Pull Request Validation Builds </name>
      <description>Pull Request Validation Builds&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <includeRegex>build-[\d]+-pr-validation-.*$|validate-pr-[\d]+$</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Snapshot Builds</name>
      <description>Snapshot Builds&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <includeRegex>build-[\d]+-snapshot-.*$|build-service-snapshot-[\d]+$</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Windows x86 64 Builds</name>
      <description>Windows x86 64 Builds&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <includeRegex>build-.*-windows_x86_64$</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>macOS x86 64 Builds</name>
      <description>macOS x86 64 Builds&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <includeRegex>build-.*-macos_x86_64$</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Release Builds</name>
      <description>Release Builds&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <includeRegex>build-[\d]+-release-.*$|build-service-release-[\d]+$</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Infrastructure</name>
      <description>Infrastructure related jobs&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
        <string>generate-website-data</string>
        <string>jenkins-configuration-backup</string>
        <string>jenkins-configuration-restore</string>
        <string>jenkins-job-generator</string>
        <string>repository-tags</string>
        <string>repository-update</string>
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>JTREG</name>
      <description>JTREG jobs&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
        <string>jtreg</string>
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Cloud Foundry Java Buildpack</name>
      <description>Cloud Foundry Java Buildpack jobs&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
        <string>generate-cf-java-buildpack-data</string>
        <string>test-cf-java-buildpack-data</string>
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Docker</name>
      <description>Docker jobs&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
        <string>docker-manifest</string>
        <string>generate-dockerfiles</string>
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>Linux Packages</name>
      <description>Linux Package jobs&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
        <string>debian-package</string>
        <string>recreate-debian-repository</string>
        <string>rpm-package</string>
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.." />
      <name>User Branch Builds</name>
      <description>User Branch Builds&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList" />
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" />
      </jobNames>
      <jobFilters />
      <columns>
        <hudson.views.StatusColumn />
        <hudson.views.WeatherColumn />
        <hudson.views.JobColumn />
        <hudson.views.LastSuccessColumn />
        <hudson.views.LastFailureColumn />
        <hudson.views.LastDurationColumn />
        <hudson.views.BuildButtonColumn />
      </columns>
      <includeRegex>build--user_branch-.*$|build-service-user_branch-$</includeRegex>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>Linux x86 64 Builds</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label />
  <crumbIssuer class="org.jenkinsci.plugins.strictcrumbissuer.StrictCrumbIssuer" plugin="strict-crumb-issuer@2.0.1">
    <checkClientIP>false</checkClientIP>
    <checkSameSource>false</checkSameSource>
    <checkOnlyLocalPath>false</checkOnlyLocalPath>
    <checkSessionMatch>true</checkSessionMatch>
    <xorMasking>true</xorMasking>
    <hoursValid>2</hoursValid>
  </crumbIssuer>
  <nodeProperties />
  <globalNodeProperties />
</hudson>