<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>agent-linux-ppc64le-1</name>
  <description></description>
  <remoteFS>/home/jenkins/slave-home</remoteFS>
  <numExecutors>8</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
  </launcher>
  <label>linux_ppc64le</label>
  <nodeProperties/>
</slave>