<flow-definition plugin="workflow-job">
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>pipeline {
    agent {
        label 'infrastructure'
    }
    stages {
        stage("Checkout Infrastructure Repository") {
            steps {
                checkout changelog: false, poll: false, scm: [$class: 'GitSCM', branches: [[name: '*/master']], extensions: [[$class: 'RelativeTargetDirectory', relativeTargetDir: 'SapMachine-infrastructure']], userRemoteConfigs: [[url: 'https://github.com/SAP/SapMachine-infrastructure.git']]]
            }
        }
        stage('Publish Release Data') {
            agent {
                docker {
                    image 'infrastructure-x86_64'
                    reuseNode true
                    label 'infrastructure'
                }
            }
            steps {
                withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD']]) {
                    lock('ReleaseDataGenerationLock') {
                        sh '''#!/bin/bash
                            set -ex
                            if [ -n "$MAJOR" ]; then
                                _MAJOR_OPTION="-m ${MAJOR}"
                            fi
                            if [ -n "$UPDATE" ]; then
                                _UPDATE_OPTION="-u ${UPDATE}"
                            fi
                            if [ -n "$SAPMACHINE_VERSION" ]; then
                                _TAG_OPTION="-t ${SAPMACHINE_VERSION}"
                            fi
                            if [ "$SCRATCH_DATA" == "true" ]; then
                                _SCRATCH_OPTION="-s"
                            fi
                            python3 SapMachine-infrastructure/lib/generate_release_data.py --no-status -o git $_MAJOR_OPTION $_UPDATE_OPTION $_TAG_OPTION $_SCRATCH_OPTION
                        '''
                    }
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <actions />
  <description>Update release data.&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty />
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MAJOR</name>
          <description>The major version to update data for, e.g. 21 (optional).</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>UPDATE</name>
          <description>The update version to update data for, e.g. 21.0.1 (optional).</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SAPMACHINE_VERSION</name>
          <description>The SapMachine version to update data for (optional).</description>
          <defaultValue />
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SCRATCH_DATA</name>
          <description>If selected, the data is rebuild from scratch. Either all of it or parts, as specified by the other parameters</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
</flow-definition>