<flow-definition plugin="workflow-job@1385.vb_58b_86ea_fff1">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2175.v76a_fff0a_2618" />
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2175.v76a_fff0a_2618">
      <jobProperties />
      <triggers />
      <parameters />
      <options />
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Update SapMachine repository from OpenJDK, tag and build SapMachine releases and create OpenJDK merge PRs.&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
      <abortPrevious>false</abortPrevious>
    </org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>60</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>UPDATE_REPOSITORY</name>
          <description>Update SapMachine repository from OpenJDK.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>TAG_BUILD_AND_MERGE</name>
          <description>Tag new SapMachine releases, build them and create OpenJDK merge PRs.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.TimerTrigger>
          <spec>@midnight</spec>
        </hudson.triggers.TimerTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3853.vb_a_490d892963">
    <script>pipeline {
    agent {
        label 'infrastructure'
    }
    stages {
        stage("Checkout Infrastructure Repository") {
            steps {
                sh '''#!/bin/bash
                    set -ex
                    if [ ! -d SapMachine-infrastructure ]; then
                      git init SapMachine-infrastructure
                    fi
                    cd SapMachine-infrastructure
                    git fetch --depth 1 https://github.com/SAP/SapMachine-infrastructure.git master
                    git checkout --detach FETCH_HEAD
                '''
            }
        }
        stage('Update SapMachine Repository') {
            when {
                expression { params.UPDATE_REPOSITORY == true }
            }
            steps {
                withCredentials([usernamePassword(credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD')]) {
                    sh '''
                        openjdk_repositories=$(python3 SapMachine-infrastructure/lib/list_openjdk_repositories.py)
                        for i in ${openjdk_repositories}
                        do
                            :
                            SapMachine-infrastructure/lib/update_repo.sh $i
                        done
                    '''
                }
            }
        }
        stage("Checkout SapMachine Repository") {
            when {
                expression { params.TAG_BUILD_AND_MERGE == true }
            }
            steps {
                sh '''#!/bin/bash
                    set -ex
                    if [ ! -d SapMachine ]; then
                      git init SapMachine &amp;&amp; cd SapMachine
                      git remote add origin https://github.com/SAP/SapMachine.git
                    else
                      cd SapMachine
                    fi
                    git fetch origin
                    git remote prune origin
                    git checkout sapmachine
                '''
            }
        }
        stage('Tag, Build and Merge') {
            agent {
                docker {
                    image 'infrastructure-x86_64'
                    reuseNode true
                    label 'infrastructure'
                }
            }
            when {
                beforeAgent true
                expression { params.TAG_BUILD_AND_MERGE == true }
            }
            steps {
                withCredentials([usernamePassword(credentialsId: 'SapMachine-github', usernameVariable: 'GIT_USER', passwordVariable: 'GIT_PASSWORD')]) {
                    sh("cd SapMachine &amp;&amp; python3 ../SapMachine-infrastructure/lib/tag_build_and_merge.py")
                }
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <disabled>false</disabled>
</flow-definition>