<slave>
  <name>agent-linux-x86_64-1</name>
  <description />
  <remoteFS>/home/jenkins/slave-home</remoteFS>
  <numExecutors>8</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always" />
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
  </launcher>
  <label>build_service pr_validation repository cloud_foundry docker</label>
  <nodeProperties />
</slave>