Source: sapmachine-${major}-jre
Section: java
Priority: optional
Maintainer: SapMachine Team <sapmachine@sap.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://sapmachine.io
#Vcs-Git: https://github.com/SAP/sapmachine.git
#Vcs-Browser: https://github.com/SAP/sapmachine

Package: sapmachine-${major}-jre
Architecture: amd64
Provides: java2-runtime,
  java5-runtime, java6-runtime,
  java7-runtime, java8-runtime,
  java9-runtime, java10-runtime
Depends:
  $${jredefault:Depends},
  $${cacert:Depends},
  $${tzdata:Depends},
  $${jcommon:Depends},
  $${dlopenhl:Depends},
  $${mountpoint:Depends},
  $${xandsound:Depends},
  $${dlopenjre:Depends}
  $${shlibs:Depends},
  $${misc:Depends},
  libfontconfig1,
  libnss3 (>= 2:3.17.1)
Description: SapMachine JRE
 The SapMachine Java Runtime Environment
