<flow-definition plugin="workflow-job@2.25">
  <actions />
  <description />
  <keepDependencies>false</keepDependencies>
  <properties />
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.57">
    <script>node {
 deleteDir()
 sh """
 git clone https://github.com/SAP/SapMachine.git .
 mkdir report
 """
    
 def changelogString = gitChangelog returnType: 'STRING',
  from: [type: 'COMMIT', value: '1934192d98e22332b790376a87edb4fa9945eba1'],
  to: [type: 'REF', value: 'sapmachine11'],
  template: """
&lt;h1&gt; Git Changelog changelog &lt;/h1&gt;

&lt;p&gt;
Changelog of Git Changelog.
&lt;/p&gt;

{{#tags}}
&lt;h2&gt; {{name}} &lt;/h2&gt;
 {{#issues}}
 {{#hasIssue}}
 {{#hasLink}}
&lt;h2&gt; {{name}} &lt;a href="{{link}}"&gt;{{issue}}&lt;/a&gt; {{title}} &lt;/h2&gt;
 {{/hasLink}}
 {{^hasLink}}
&lt;h2&gt; {{name}} {{issue}} {{title}} &lt;/h2&gt;
 {{/hasLink}}
 {{/hasIssue}}
 {{^hasIssue}}
&lt;h2&gt; {{name}} &lt;/h2&gt;
 {{/hasIssue}}


 {{#commits}}
&lt;a href="https://github.com/SAP/SapMachine/commit/{{hash}}"&gt;{{hash}}&lt;/a&gt; {{authorName}} &lt;i&gt;{{commitTime}}&lt;/i&gt;
&lt;p&gt;
&lt;h3&gt;{{{messageTitle}}}&lt;/h3&gt;

{{#messageBodyItems}}
 &lt;li&gt; {{.}}&lt;/li&gt; 
{{/messageBodyItems}}
&lt;/p&gt;


 {{/commits}}

 {{/issues}}
{{/tags}}
 """

 writeFile file: 'report/changelog.html', text: changelogString
 
  publishHTML target: [
        allowMissing: false,
        alwaysLinkToLastBuild: false,
        keepAll: true,
        reportDir: 'report',
        reportFiles: 'changelog.html',
        reportName: 'Git Changelog'
    ]
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers />
  <disabled>false</disabled>
</flow-definition>