<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.25">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.57">
    <script>node {
 deleteDir()
 sh &quot;&quot;&quot;
 git clone https://github.com/SAP/SapMachine.git .
 mkdir report
 &quot;&quot;&quot;
    
 def changelogString = gitChangelog returnType: &apos;STRING&apos;,
  from: [type: &apos;COMMIT&apos;, value: &apos;1934192d98e22332b790376a87edb4fa9945eba1&apos;],
  to: [type: &apos;REF&apos;, value: &apos;sapmachine11&apos;],
  template: &quot;&quot;&quot;
&lt;h1&gt; Git Changelog changelog &lt;/h1&gt;

&lt;p&gt;
Changelog of Git Changelog.
&lt;/p&gt;

{{#tags}}
&lt;h2&gt; {{name}} &lt;/h2&gt;
 {{#issues}}
 {{#hasIssue}}
 {{#hasLink}}
&lt;h2&gt; {{name}} &lt;a href=&quot;{{link}}&quot;&gt;{{issue}}&lt;/a&gt; {{title}} &lt;/h2&gt;
 {{/hasLink}}
 {{^hasLink}}
&lt;h2&gt; {{name}} {{issue}} {{title}} &lt;/h2&gt;
 {{/hasLink}}
 {{/hasIssue}}
 {{^hasIssue}}
&lt;h2&gt; {{name}} &lt;/h2&gt;
 {{/hasIssue}}


 {{#commits}}
&lt;a href=&quot;https://github.com/SAP/SapMachine/commit/{{hash}}&quot;&gt;{{hash}}&lt;/a&gt; {{authorName}} &lt;i&gt;{{commitTime}}&lt;/i&gt;
&lt;p&gt;
&lt;h3&gt;{{{messageTitle}}}&lt;/h3&gt;

{{#messageBodyItems}}
 &lt;li&gt; {{.}}&lt;/li&gt; 
{{/messageBodyItems}}
&lt;/p&gt;


 {{/commits}}

 {{/issues}}
{{/tags}}
 &quot;&quot;&quot;

 writeFile file: &apos;report/changelog.html&apos;, text: changelogString
 
  publishHTML target: [
        allowMissing: false,
        alwaysLinkToLastBuild: false,
        keepAll: true,
        reportDir: &apos;report&apos;,
        reportFiles: &apos;changelog.html&apos;,
        reportName: &apos;Git Changelog&apos;
    ]
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>