<slave>
  <temporaryOfflineCause class="hudson.slaves.OfflineCause$ChannelTermination">
    <timestamp>1593677171572</timestamp>
    <cause class="java.nio.channels.ClosedChannelException">
      <stackTrace>
        <trace>org.jenkinsci.remoting.protocol.NetworkLayer.onRecvClosed(NetworkLayer.java:154)</trace>
        <trace>org.jenkinsci.remoting.protocol.impl.NIONetworkLayer.ready(NIONetworkLayer.java:179)</trace>
        <trace>org.jenkinsci.remoting.protocol.IOHub$OnReady.run(IOHub.java:795)</trace>
        <trace>jenkins.util.ContextResettingExecutorService$1.run(ContextResettingExecutorService.java:28)</trace>
        <trace>jenkins.security.ImpersonatingExecutorService$1.run(ImpersonatingExecutorService.java:59)</trace>
        <trace>java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)</trace>
        <trace>java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)</trace>
        <trace>java.base/java.lang.Thread.run(Thread.java:834)</trace>
      </stackTrace>
      <suppressedExceptions class="empty-list" />
    </cause>
  </temporaryOfflineCause>
  <name>agent-windows-x86_64-permanent</name>
  <description />
  <remoteFS>C:\jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always" />
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
    <webSocket>false</webSocket>
  </launcher>
  <label>windows_x86_64</label>
  <nodeProperties />
</slave>