<flow-definition plugin="workflow-job">
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>pipeline {
    agent {
        label "${BUILDNODE}"
    }
    stages {
        stage("Checkout Infrastructure Repository") {
            steps {
                checkout changelog: false, poll: false, scm: [$class: 'GitSCM', branches: [[name: '*/master']], extensions: [[$class: 'RelativeTargetDirectory', relativeTargetDir: 'SapMachine-infrastructure']], userRemoteConfigs: [[credentialsId: 'SapMachine-github', url: 'https://github.com/SAP/SapMachine-infrastructure.git']]]
            }
        }
        stage("Build Infrastructure container") {
            steps {
                script {
                    def pull = params.PULL == true ? '--pull ' : ''
                    def no_cache = params.NO_CACHE == true ? '--no-cache ' : ''
                    docker.build('infrastructure-x86_64', pull + no_cache + 'SapMachine-infrastructure/dockerfiles/infrastructure/.')
                }
            }
        }
        stage("Prune images") {
            steps {
                script {
                    sh 'docker image prune -f'
                }
            }
        }
        stage("Prune builder") {
            steps {
                script {
                    sh 'docker builder prune -f'
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <actions />
  <description>Build infrastructure container on agent-local-bare.&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty />
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILDNODE</name>
          <description>The node to run docker build on.</description>
          <defaultValue>agent-local-bare</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PULL</name>
          <description>Set docker build option --pull</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>NO_CACHE</name>
          <description>Set docker build option --no-cache</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
</flow-definition>