<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.20">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.9"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.9">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>FOO</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.49">
    <script>pipeline {
    agent any
    stages {
        stage(&apos;Test&apos;) {
            steps {
                script {
                    println &apos;value of FOO=&apos;+FOO
                    
                    def myval = &apos;&apos;
                    
                    if (FOO == &apos;true&apos;) {
                        myval = &apos;hello&apos;
                    } else {
                        myval = &apos;bye&apos;
                    }
                    
                    sh(
                        script: &quot;echo ${myval}&quot;,
                        returnStdout: false
                    )
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>